@charset 'UTF-8';
.title_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    background-color: #00155f;
}
.title_banner h2 {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    color:#fff;
}

.gonfalon_container {
    padding: 50px 0;
    background-color: #eeeee4;
}
.gonfalon_wrap {
    max-width: 1450px;
    margin: 0 auto;
}
ul {
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
ul li {
    width: 45%;
    padding-bottom: 40px;
    font-size: 20px;
    text-align: center;
}
ul li img {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: rgb(213 196 108) 0px 0px 0px 2px;
    border-radius: 0.125rem;
}
ul li span {
    position: relative;
    top:-10px;
    font-size: 16px;
}